<div class="class">
<h2>Clientes - API</h2>

  <ul>
    <li *ngFor="let cliente of clientes">
      Id: {{cliente.id}} <br>
      Nome: {{cliente.name}} <br>
      CPF: {{cliente.cpf}}<br>
      Senha: {{cliente.senha}}<br>
      <button (click)="deleteCliente(cliente)">Excluir</button>
    </li>
  </ul>

  <h2>Buscar por cpf</h2>

  <form>
    <input type="text" name="cpf" id="cpf" [(ngModel)]="cpf">
    <button (click)="getClienteCpf()">Enviar</button>
  </form>

  <ul>
    <li *ngIf="cliente !== null; else NotFound">
      <form>
      <label for="id">Id:</label>
      <input type="number" name="id" id="id" disabled [(ngModel)]="cliente.id"><br>
      <label for="name">Nome:</label>
      <input type="text" name="name" id="name" disabled [(ngModel)]="cliente.name"><br>
      <label for="cpf">CPF</label>
      <input type="text" name="cpf" id="cpf" disabled [(ngModel)]="cliente.cpf"><br>
      <label for="senha">Senha:</label>
      <input type="text" name="senha" id="senha" [(ngModel)]="cliente.senha">
      <button (click)="alterarSenha()">Alterar Senha</button>
    </form>
    </li>
    <ng-template #NotFound>
      <p>Nada encontrado</p>
    </ng-template>
  </ul>


  <h2>Animais</h2>
  <ul>
    <li *ngFor="let animal of animals">
      Nome: {{animal.name}} - Tipo: {{animal.type}}
      <button (click)="showAge(animal)">Idade</button>
      <button (click)="removeAnimal(animal)">Exluir animal</button>

    </li>
  </ul>
  <h3>{{animalDetails}}</h3>

  <h2>Alunos:</h2>
  <ul>
    <li *ngFor="let aluno of alunos">
      Nome: {{aluno.nome}}, Idade: {{aluno.idade}}, Formação: {{aluno.formacao}}
    </li>
  </ul>


  <h2>NOVO CADASTRO - API</h2>
<form>
  <input type="text" name="nome" id="nome" [(ngModel)]="novoCliente.name" required>
  <input type="text" name="cpf" id="cpf" [(ngModel)]="novoCliente.cpf" required><br><br>
  <input type="password" name="senha" id="senha" [(ngModel)]="novoCliente.senha" required>
  <button (click)="addCliente()">Enviar</button>
</form>
</div>
